<head>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="agency.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <div>
        <section class="page-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Servicios</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Reprehenderit, obcaecati fugiat perspiciatis enim reiciendis minima minus voluptate
                            tenetur temporibus, omnis vero ratione ex, tempora modi recusandae? Aliquam quisquam
                            deleniti incidunt?</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">

                            <i class="fas fa-circle fa-stack-2x "></i>
                            <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Servicio 1</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nemo
                            blanditiis beatae culpa consequatur dolore in aut! Perspiciatis, dolorem iure.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x "></i>
                            <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Servicio 2</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quis
                            maxime iste reprehenderit corrupti earum dolore, pariatur placeat culpa ipsa.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x "></i>
                            <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Servicio 3</h4>
                        <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum veniam
                            perspiciatis asperiores, veritatis pariatur, minima nesciunt quasi quod, dolorem eligendi
                            quae reiciendis eius. Minus magni voluptates sint excepturi sit iure.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio Grid -->
        <section class="bg-light page-section" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Productos</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Labore, blanditiis?

                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/icons/ico-desarrollo.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Producto 1</h4>
                            <p class="text-muted">Titulo 1</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/icons/ico-erp.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Producto 2</h4>
                            <p class="text-muted">Titulo 2</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/icons/ico-soporte.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Producto 3</h4>
                            <p class="text-muted">Titulo 3</p>
                        </div>
                    </div>



                </div>
            </div>
        </section>

        <!-- About -->
        <section class="page-section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Nosotros</h2>
                        <h3 class="section-subheading text-muted">Somos Galpon Legado , Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Dolor recusandae vel similique, enim ut repellendus
                            consectetur itaque rem tempore illo veniam illum voluptatibus incidunt? Nemo ab neque
                            temporibus tempora dicta, minus asperiores. Est quasi harum eaque ab ipsam excepturi magni,
                            beatae eligendi at officia fuga id facilis ipsum voluptatum nulla.

                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Misión</h4>
                                        <h4 class="subheading"></h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Quod doloremque illo quam animi, maiores voluptatibus incidunt
                                            necessitatibus quidem neque, beatae soluta vitae error placeat aperiam quos
                                            itaque odit dolore temporibus a obcaecati et reprehenderit, ea iusto harum?
                                            Alias minima autem odit modi, fugiat nobis, enim laboriosam saepe officia
                                            maiores voluptatum?.
                                        </p>
                                        <br>
                                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Tenetur molestiae molestias minus quas obcaecati animi quos quod harum. Et
                                            corrupti beatae perspiciatis eius veniam explicabo recusandae magnam aliquid
                                            delectus vitae.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Visión</h4>
                                        <h4 class="subheading"></h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                            Sit perspiciatis tenetur amet, placeat a ullam! Aspernatur harum illum
                                            praesentium ea!
                                        </p>
                                        <br>
                                        <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            Exercitationem quis voluptas quaerat earum ut unde!
                                        </p>

                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Contactanos</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="Nursery-img">

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7802167151467!2d-77.03225162450633!3d-12.127184943404202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81ef7392b37%3A0xb4e33903d44ea11d!2sManagement%20Group%20S.A!5e0!3m2!1ses-419!2spe!4v1684808747319!5m2!1ses-419!2spe"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <!-- <div class="row align-items-center">-->

                <h2 class="section-heading text-uppercase">Dirección</h2>

                <div class="copyright">

                    Av. Jose de Larco #930 Oficina 302, Miraflores - Lima - Perú<br>
                    Correo: ventas@mgsa.com.pe<br>
                    Telefonos: +51 014471788 <br>

                    Copyright &copy; Management Group SA - 2023</p>


                </div>



                <!-- </div>-->
                <!--    </div>-->
        </footer>

        <!-- Portfolio Modals -->

        <!-- Modal 1 -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Producto 1</h2>
                                    <p class="item-intro text-muted">Titulo 1</p>
                                    <img class="img-fluid d-block mx-auto" src="img/icons/ico-desarrollo.png" alt="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aperiam quia nam.
                                        Alias facilis veniam culpa blanditiis est delectus officia obcaecati quisquam
                                        accusamus aliquam, voluptate ducimus corporis esse veritatis, sit dignissimos
                                        iste eum, sequi totam qui? Incidunt debitis unde soluta laboriosam non excepturi
                                        blanditiis deleniti minima itaque nostrum cupiditate praesentium architecto
                                        dignissimos quos dolor illo dolores recusandae quasi officiis, ipsum beatae
                                        veritatis eos ad delectus! Provident minima tempore voluptatum atque, quo
                                        consectetur architecto consequuntur vitae corporis quaerat similique, ratione in
                                        quidem cumque nisi recusandae quisquam.</p>

                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2 -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Producto 2</h2>
                                    <p class="item-intro text-muted">Titulo 2</p>
                                    <img class="img-fluid d-block mx-auto" src="img/icons/ico-erp.png" alt="">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur a sunt quia
                                        aspernatur nulla qui enim temporibus est voluptatum perferendis reiciendis odit
                                        ullam debitis corporis amet, deserunt ut odio, excepturi nobis sint! Architecto
                                        modi sapiente perferendis natus ab officiis nobis nihil vitae dignissimos
                                        excepturi! Labore laboriosam voluptatem debitis, iusto possimus cumque aut
                                        doloribus sint saepe ea tempora asperiores velit ad vero fuga atque ut, earum
                                        rem eos! Deserunt, eius. Asperiores vero quasi ad eveniet inventore odit,
                                        provident possimus sequi dolores. Modi dolores eligendi dignissimos, laborum
                                        porro aliquam nostrum neque libero!</p>

                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 3 -->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Producto 3</h2>
                                    <p class="item-intro text-muted">Totulo 3</p>
                                    <img class="img-fluid d-block mx-auto" src="img/icons/ico-soporte.png" alt="">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam temporibus rerum
                                        pariatur maxime repudiandae neque eos porro deleniti, animi distinctio rem
                                        doloremque? Architecto a, quidem doloremque cum incidunt sunt, modi mollitia
                                        unde dolorem quos recusandae natus, laborum eligendi? Necessitatibus molestiae
                                        accusantium amet similique nobis earum dicta officiis totam, exercitationem modi
                                        corporis minima aspernatur incidunt iusto reprehenderit, itaque consectetur
                                        sequi. Corrupti molestias similique cupiditate reprehenderit reiciendis sint
                                        ratione nihil, nisi sed, quam eos quisquam maxime, dolores libero. Aliquid
                                        repellendus explicabo unde.</p>

                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "109366008374382");
            chatbox.setAttribute("attribution", "biz_inbox");
        </script>

        <!-- Your SDK code -->
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v13.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/agency.min.js"></script>

</body>