.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh; /* Ajusta el valor según sea necesario */
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  
  .centered-image {
    max-width: 60%;
    max-height: 60%;
  }
  